@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    margin-right: 10%;
    margin-left: 10%;
}